--- title: Foundation for sites ---
<!--   -->


<html class="no-js" lang="en" dir="ltr">

<head>

  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>






  <!-- Grid Example -->


  </br>

  <div class="container-fluid ">
    <div class="row">
      <div class="bgrd1">
        <div class="small-1 columns"></div>
        <div class="small-11 columns">
          <h4><b> About</b></h4>
          <p><i>I am Brian,a highly motivated guy with more than a <font color="red">decade of experience </font> in</br>Design and Development.I've worked with several larger as well as smaller </br>brands and I'am a fan of a good challenge.</i></p>
        </div>



      </div>

    </div>
  </div>

  <div class="container-fluid ">
    <div class="row">
      <div class="bgrd1">
        <div class="small-10 columns"> </div>
        <div class="small-3 columns">
          <img src="th.jpg" class="img-circle person" alt="Random Name" width="255" height="255">

          <div class="container-fluid text-center">

            <p>Brian Cooper</p>
          </div>
        </div>
        <div class="large-4 columns">

          <p><b>Complete name:</b>Brian George Cooper</p>
          <p><b>Date Of Birth:</b>06 January 1990</p>
          <p><b>Hobbies:</b>Football & Photography</p>
          <p><b>Home address:</b>Great street,No:6,NYC</p>


          <div class="fi">
            <i class="fi-social-facebook size-24"></i>
            <i class="step fi-social-twitter size-24"></i>
            <i class="step fi-social-pinterest size-24"></i>


            <i class="step fi-social-linkedin size-50"></i>
          </div>
        </div>
        <div class="small-5 columns">
          <div class="alert  progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent"
            aria-valuemax="100">
            <span class="progress-meter" style="width: 90%">
        <p class="progress-meter-text">Html & Css - 90% </p>
  </span>
          </div>

          <div class="alert progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent"
            aria-valuemax="100">
            <span class="progress-meter" style="width: 83%">
      <p class="progress-meter-text">Wordpress - 83%</p>
  </span>
          </div>

          <div class="alert progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent"
            aria-valuemax="100">
            <span class="progress-meter" style="width: 95%">
    <p class="progress-meter-text">Photoshop - 95%</p>
  </span>
          </div>
          <div class="alert progress" role="progressbar" tabindex="0" aria-valuenow="20" aria-valuemin="0" aria-valuetext="25 percent"
            aria-valuemax="100">
            <span class="progress-meter" style="width: 86%">
    <p class="progress-meter-text">Javascript - 86%</p>
  </span>
          </div>
        </div>


      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="bgrd">
            <div class="small-5 columns"></div>

            <div class="small-7 columns" id="pd">
              <h4><b> Resume</b></h4>
              <p><i>For every project that I have done my focus has been on creating the best</br> <font color="red">experience</font> possible.Here is a brief summary of my past.</i></p>
            </div>


            </br>
            </br>
           
            <div class="path-container">
              <div class="row">

                <div class="small-6 columns">
                  <div class="circle circle-left "></div>
                  <p id="ff"><b> October 2010-June 2014</b></br>
                    Graduated with bachelor degree from <i>University </i></p>
                    <div class="circle1 circle-left "></div>
                  <p id="ff"><b> September 2006-May 2010</b></br>
                    Graduated with bachelor degree from <i>High school </i></p>
                    <div class="circle2 circle-left "></div>
                  <p id="ff"><b> August 2000-July 2006</b></br>
                    Graduated with bachelor degree from <i>Primary school </i></p>
                     <span class="line hide-for-small"></span>
                </div>
                <div class="small-6 columns">
                   <div class="circle3 circle-left "></div>
                  <p id="ff"><b> October 2010-June 2014</b></br>
                    Graduated with bachelor degree from <i>University </i></p>
                     <div class="circle4 circle-left "></div>
                  <p id="ff"><b> September 2006-May 2010</b></br>
                    Graduated with bachelor degree from <i>High school </i></p>
                     <div class="circle5 circle-left "></div>
                  <p id="ff"><b> August 2000-July 2006</b></br>
                    Graduated with bachelor degree from <i>Primary school </i></p>
                     <span class="line1 hide-for-small"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      </br>



      <div class="row" id="bkimg1">
        <div class="large-12 columns">
          <div class="container-fluid text-center">
            <div class="small-2 columns">
              </br>
              </br>
              </br>
              <p id="clr"><b>327</b></br><i>Happy clients</i></p>
            </div>
            <div class="small-2 columns">
              </br>
              </br>
              </br>
              <p id="clr"><b>459</b></br><i>Awesome ideas</i></p>
            </div>
            <div class="small-2 columns">
              </br>
              </br>
              </br>
              <p id="clr"><b>162</b></br><i>Coffee mugs</i></p>
            </div>
            <div class="small-2 columns">
              </br>
              </br>
              </br>
              <p id="clr"><b>101</b></br><i>Awards collected</i></p>
            </div>
            <div class="small-2 columns">
              </br>
              </br>
              </br>
              <p id="clr"><b>837</b></br><i>Design sketches</i></p>
            </div>
            <div class="small-2 columns">
              </br>
              </br>
              </br>
              <p id="clr"><b>141</b></br><i>Project completed</i></p>
            </div>
          </div>
        </div>
      </div>



      <div class="container" id="bgrd2">


        <div class="small-6 small-centered columns">
          <div class="row">
            <h4 id="clr"><b> Portfolio</b></h4>
            <p id="clr"><i>For every project that I have done my focus has been on creating the best</br>design, so I spend a lot of time to finish the details.Here are my latest works</br>presented in a modern way.</i></br>
            </p>
            <div class="row">

              <div class="small-4 columns">
                <ul class="small-block-grid-4">
                  <img src="p16.jpg" class="img-responsive" alt="Random Name">
                  <img src="p7.jpg" class="img-responsive" alt="Random Name">

                </ul>
              </div>
              <div class="small-8 columns">
                <ul class="small-block-grid-4">
                  <img src="x1.jpg" class="img-responsive" alt="Random Name">


                </ul>
              </div>

            </div>
            <div class="row">
              <div class="small-8 columns">
                <ul class="small-block-grid-4">
                  <img src="n3.jpg" class="img-responsive" alt="Random Name">
                </ul>
              </div>
              <div class="small-4 columns">
                <ul class="small-block-grid-4">
                  <img src="p3.jpg" class="img-responsive" alt="Random Name">
                  <img src="p5.jpg" class="img-responsive" alt="Random Name">
                </ul>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>




    <div class="container-fluid ">
      <div class="row">
        <div class="bgrd3">
          <div class="small-1 columns"></div>
          <div class="small-11 columns">
            <h4 id="ser"><b> Services</b></h4>
            <p id="ser"><i>To give real service you must add something  which cannot be bought or</br>measured with money, and that is  <font color="red">sincerity and integrity</font </i></p>
          </div>
          </br>
          </br>
          <div class="small-10 small-centered columns">
            <div class="row ">
              </br>
              <div class="small-4 columns">

                <h1><b>01.</b></h1>
                <b><i>Ideas & concepts</i></b>
                <p> For every project that I have done my focus been on creating the best design, so I spend time to finish the
                  details.Here are my latest works presented in modern way.</p>


              </div>
              <div class="small-4 columns">
                <h1><b>02.</b></h1>
                <b><i>Coding & development</i></b>
                <p> For every project that I have done my focus been on creating the best design, so I spend time to finish the
                  details.Here are my latest works presented in modern way.</p>
              </div>
              <div class="small-4 columns">
                <h1><b>03.</b></h1>
                <b><i>Support and advices</i></b>
                <p> For every project that I have done my focus been on creating the best design, so I spend time to finish the
                  details.Here are my latest works presented in modern way.</p>
              </div>


            </div>

          </div>
        </div>



        <div class="container" id="bgrd5">


          <div class="small-6 small-centered columns">
            <div class="row">
              <h4><b> Journal</b></h4>
              <p><i>I am not just a boring  designer and developer,I like writing as well,so here are </br> <font color="red">the best stories</font revealed for you,the reader.</i></p>
              <div class="row">

                <div class="small-4 columns">
                  <ul class="small-block-grid-4">
                    <img src="l1.jpg" class="img-responsive" alt="Random Name">



                  </ul>
                </div>
                <div class="small-4 columns">
                  <ul class="small-block-grid-4">
                    <img src="l2.jpg" class="img-responsive" alt="Random Name">


                  </ul>
                </div>
                <div class="small-4 columns">
                  <ul class="small-block-grid-4">
                    <img src="l3.jpg" class="img-responsive" alt="Random Name">


                  </ul>
                </div>


              </div>
              <div class="row text-right">
                <div class="small-4 columns">
                  <b>Journal about riders</b></br>
                  Neuu hfjh bhbhnbvgghjgl bhbvh vbnbmh dbbbjmng noommmsbfddnnkj chxsji chvdcgnnhcbcvg ghgfbgh
                  </br>
                  </br>

                  <a href="#" class="alert button">Read more</a>

                </div>
                <div class="small-4 columns">
                  <b>Journal about riders</b></br>
                  Neuu hfjh bhbhnbvgghjgl bhbvh vbnbmh dbbbjmng noommmsbfddnnkj chxsji chvdcgnnhcbcvg ghgfbgh
                  </br>
                  </br>
                  <a href="#" class="alert button">Read more</a>
                </div>
                <div class="small-4 columns">
                  <b>Journal about riders</b></br>
                  Neuu hfjh bhbhnbvgghjgl bhbvh vbnbmh dbbbjmng noommmsbfddnnkj chxsji chvdcgnnhcbcvg ghgfbgh
                  </br>
                  </br>
                  <a href="#" class="alert button">Read more</a>
                </div>
              </div>


            </div>
          </div>
        </div>
        <div class="container" id="bgrd7">


          <div class="small-6 small-centered columns">
            <div class="row">
              <h4 id="clr"><b> Contact</b></h4>
              <p id="clr"><i>If you like me and my work <font color="red"> get in touch </font> and tell me about your next project.I'll</br>reply as soon as possible and i hope it will be a real challenge.</i></br>
              </p>

              <div class="row" id="clr7">.
              </div>
              <div class="row text-left" id="clr">

                <div class="small-3 columns" id="bgr"> Name* :</br>
                  </br>
                </div>
                <div class="small-3 columns" id="bgr">E-mail* :</br>
                  </br>
                </div>
                <div class="small-3 columns" id="bgr"> Subject* :</br>
                  </br>
                </div>

                <div class="small-3 columns"><b>More Info</b></br>
                  <u> briancooper@gmail.com</u>
                  </br>
                  <u> (+123) 456 789 </u>
                  </br>
                  <u>GreatSt,No:6,NYC</u>

                </div>
              </div>
            </div>
          </div>



          <div class="small-10 small-centered columns" id="lm">
            <div class="row" id="clr">
              <div class="small-6 columns" id="bgr">Message* :</br>
                </br>
                </br>
                </br>
                </br>
                </br>
                </br>

                <div class="row" id="clr7">
                  </br>
                </div>

                <div class="row" id="clr7">
                  <a href="#" class="alert button">Send message</a>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>






    </div>
  </div>




  </br>
  </br>



  <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script src="js/app.js"></script>
</body>

</html>